# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

workspace.xml

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/app/build/intermediates/
.idea/libraries/appcompat_v7_21_0_2.xml
.idea/libraries/support_annotations_21_0_2.xml
.idea/libraries/support_v4_21_0_2.xml
app/build/generated/assets/
app/build/generated/res/
app/build/generated/source/aidl/
app/build/generated/source/apt/
app/build/generated/source/r/androidTest/
app/build/generated/source/r/debug/android/
app/build/generated/source/rs/
app/build/intermediates/assets/
app/build/intermediates/blame/res/androidTest/
app/build/intermediates/blame/res/debug/multi/values-af.json
app/build/intermediates/blame/res/debug/multi/values-am.json
app/build/intermediates/blame/res/debug/multi/values-ar.json
app/build/intermediates/blame/res/debug/multi/values-bg.json
app/build/intermediates/blame/res/debug/multi/values-bn-rBD.json
app/build/intermediates/blame/res/debug/multi/values-ca.json
app/build/intermediates/blame/res/debug/multi/values-cs.json
app/build/intermediates/blame/res/debug/multi/values-da.json
app/build/intermediates/blame/res/debug/multi/values-de.json
app/build/intermediates/blame/res/debug/multi/values-el.json
app/build/intermediates/blame/res/debug/multi/values-en-rGB.json
app/build/intermediates/blame/res/debug/multi/values-en-rIN.json
app/build/intermediates/blame/res/debug/multi/values-es-rUS.json
app/build/intermediates/blame/res/debug/multi/values-es.json
app/build/intermediates/blame/res/debug/multi/values-et-rEE.json
app/build/intermediates/blame/res/debug/multi/values-eu-rES.json
app/build/intermediates/blame/res/debug/multi/values-fa.json
app/build/intermediates/blame/res/debug/multi/values-fi.json
app/build/intermediates/blame/res/debug/multi/values-fr-rCA.json
app/build/intermediates/blame/res/debug/multi/values-fr.json
app/build/intermediates/blame/res/debug/multi/values-gl-rES.json
app/build/intermediates/blame/res/debug/multi/values-hi.json
app/build/intermediates/blame/res/debug/multi/values-hr.json
app/build/intermediates/blame/res/debug/multi/values-hu.json
app/build/intermediates/blame/res/debug/multi/values-hy-rAM.json
app/build/intermediates/blame/res/debug/multi/values-in.json
app/build/intermediates/blame/res/debug/multi/values-is-rIS.json
app/build/intermediates/blame/res/debug/multi/values-it.json
app/build/intermediates/blame/res/debug/multi/values-iw.json
app/build/intermediates/blame/res/debug/multi/values-ja.json
app/build/intermediates/blame/res/debug/multi/values-ka-rGE.json
app/build/intermediates/blame/res/debug/multi/values-kk-rKZ.json
app/build/intermediates/blame/res/debug/multi/values-km-rKH.json
app/build/intermediates/blame/res/debug/multi/values-kn-rIN.json
app/build/intermediates/blame/res/debug/multi/values-ko.json
app/build/intermediates/blame/res/debug/multi/values-ky-rKG.json
app/build/intermediates/blame/res/debug/multi/values-land.json
app/build/intermediates/blame/res/debug/multi/values-large-v4.json
app/build/intermediates/blame/res/debug/multi/values-lo-rLA.json
app/build/intermediates/blame/res/debug/multi/values-lt.json
app/build/intermediates/blame/res/debug/multi/values-lv.json
app/build/intermediates/blame/res/debug/multi/values-mk-rMK.json
app/build/intermediates/blame/res/debug/multi/values-ml-rIN.json
app/build/intermediates/blame/res/debug/multi/values-mn-rMN.json
app/build/intermediates/blame/res/debug/multi/values-mr-rIN.json
app/build/intermediates/blame/res/debug/multi/values-ms-rMY.json
Would
remove app/build/intermediates/blame/res/debug/multi/values-my-rMM.json
app/build/intermediates/blame/res/debug/multi/values-nb.json
app/build/intermediates/blame/res/debug/multi/values-ne-rNP.json
app/build/intermediates/blame/res/debug/multi/values-nl.json
app/build/intermediates/blame/res/debug/multi/values-pl.json
app/build/intermediates/blame/res/debug/multi/values-port.json
app/build/intermediates/blame/res/debug/multi/values-pt-rPT.json
app/build/intermediates/blame/res/debug/multi/values-pt.json
app/build/intermediates/blame/res/debug/multi/values-ro.json
app/build/intermediates/blame/res/debug/multi/values-ru.json
app/build/intermediates/blame/res/debug/multi/values-si-rLK.json
app/build/intermediates/blame/res/debug/multi/values-sk.json
app/build/intermediates/blame/res/debug/multi/values-sl.json
app/build/intermediates/blame/res/debug/multi/values-sr.json
app/build/intermediates/blame/res/debug/multi/values-sv.json
app/build/intermediates/blame/res/debug/multi/values-sw.json
app/build/intermediates/blame/res/debug/multi/values-sw600dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-ta-rIN.json
app/build/intermediates/blame/res/debug/multi/values-te-rIN.json
app/build/intermediates/blame/res/debug/multi/values-th.json
app/build/intermediates/blame/res/debug/multi/values-tl.json
app/build/intermediates/blame/res/debug/multi/values-tr.json
app/build/intermediates/blame/res/debug/multi/values-uk.json
app/build/intermediates/blame/res/debug/multi/values-ur-rPK.json
app/build/intermediates/blame/res/debug/multi/values-uz-rUZ.json
app/build/intermediates/blame/res/debug/multi/values-v17.json
app/build/intermediates/blame/res/debug/multi/values-v21.json
app/build/intermediates/blame/res/debug/multi/values-vi.json
app/build/intermediates/blame/res/debug/multi/values-w360dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-w480dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-w500dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-w600dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-w720dp-v13.json
app/build/intermediates/blame/res/debug/multi/values-xlarge-land-v4.json
app/build/intermediates/blame/res/debug/multi/values-xlarge-v4.json
app/build/intermediates/blame/res/debug/multi/values-zh-rCN.json
app/build/intermediates/blame/res/debug/multi/values-zh-rHK.json
app/build/intermediates/blame/res/debug/multi/values-zh-rTW.json
app/build/intermediates/blame/res/debug/multi/values-zu.json
app/build/intermediates/blame/res/debug/single/anim.json
app/build/intermediates/blame/res/debug/single/color.json
app/build/intermediates/blame/res/debug/single/drawable-anydpi-v21.json
app/build/intermediates/blame/res/debug/single/drawable-hdpi.json
app/build/intermediates/blame/res/debug/single/drawable-ldpi.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-hdpi.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-mdpi.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xhdpi.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xxhdpi.json
app/build/intermediates/blame/res/debug/single/drawable-ldrtl-xxxhdpi.json
app/build/intermediates/blame/res/debug/single/drawable-mdpi.json
app/build/intermediates/blame/res/debug/single/drawable-xhdpi.json
app/build/intermediates/blame/res/debug/single/drawable-xxhdpi.json
app/build/intermediates/blame/r
es/debug/single/drawable-xxxhdpi.json
app/build/intermediates/blame/res/debug/single/drawable.json
app/build/intermediates/blame/res/debug/single/layout-v11.json
app/build/intermediates/blame/res/debug/single/xml.json
app/build/intermediates/builds/
app/build/intermediates/classes/
app/build/intermediates/dependency-cache/
app/build/intermediates/exploded-aar/
app/build/intermediates/incremental-classes/
app/build/intermediates/incremental-runtime-classes/
app/build/intermediates/incremental-safeguard/
app/build/intermediates/incremental-verifier/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugAndroidTestResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugAndroidTestResources/merged.dir/
app/build/intermediates/incremental/mergeDebugAssets/
app/build/intermediates/incremental/mergeDebugJniLibFolders/
app/build/intermediates/incremental/mergeDebugResources/aapt-temp/
app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
app/build/intermediates/incremental/mergeDebugResources/merged.dir/
app/build/intermediates/incremental/mergeDebugShaders/
app/build/intermediates/incremental/packageDebug/
app/build/intermediates/incremental/packageDebugAndroidTest/
app/build/intermediates/incremental/packageInstantRunResourcesDebug/
app/build/intermediates/incremental/processDebugAndroidTestResources/
app/build/intermediates/incremental/processDebugResources/
app/build/intermediates/instant-run-resources/
app/build/intermediates/instant-run-support/
app/build/intermediates/jniLibs/
app/build/intermediates/manifest/tmp/
app/build/intermediates/manifests/instant-run/
app/build/intermediates/reload-dex/
app/build/intermediates/res/merged/androidTest/
app/build/intermediates/res/merged/debug/anim/
app/build/intermediates/res/merged/debug/color/
app/build/intermediates/res/merged/debug/drawable-anydpi-v21/
app/build/intermediates/res/merged/debug/drawable-hdpi/
app/build/intermediates/res/merged/debug/drawable-ldpi/
app/build/intermediates/res/merged/debug/drawable-ldrtl-hdpi/
app/build/intermediates/res/merged/debug/drawable-ldrtl-mdpi/
app/build/intermediates/res/merged/debug/drawable-ldrtl-xhdpi/
app/build/intermediates/res/merged/debug/drawable-ldrtl-xxhdpi/
app/build/intermediates/res/merged/debug/drawable-ldrtl-xxxhdpi/
app/build/intermediates/res/merged/debug/drawable-mdpi/
app/build/intermediates/res/merged/debug/drawable-xhdpi/
app/build/intermediates/res/merged/debug/drawable-xxhdpi/
app/build/intermediates/res/merged/debug/drawable-xxxhdpi/
app/build/intermediates/res/merged/debug/drawable/
app/build/intermediates/res/merged/debug/layout-v11/
app/build/intermediates/res/merged/debug/layout/abc_action_bar_title_item.xml
app/build/intermediates/res/merged/debug/layout/abc_action_bar_up_container.xml
app/build/intermediates/res/merged/debug/layout/abc_action_bar_view_list_nav_layout.xml
app/build/intermediates/res/merged/debug/layout/abc_action_menu_item_layout.xml
app/build/intermediates/res/merged/debug/layout/abc_action_menu_layout.xml
app/build/intermediates/res/merged/debug/layout/abc_action_mode_bar.xml
app/build/intermediates/res/merged/debug/layout/abc_action_mode_close_item_material.xml
app/build/intermediates/res/merged/debug/layout/abc_activity_chooser_view.xml

app/build/intermediates/res/merged/debug/layout/abc_activity_chooser_view_include.xml
app/build/intermediates/res/merged/debug/layout/abc_activity_chooser_view_list_item.xml
app/build/intermediates/res/merged/debug/layout/abc_expanded_menu_layout.xml
app/build/intermediates/res/merged/debug/layout/abc_list_menu_item_checkbox.xml
app/build/intermediates/res/merged/debug/layout/abc_list_menu_item_icon.xml
app/build/intermediates/res/merged/debug/layout/abc_list_menu_item_layout.xml
app/build/intermediates/res/merged/debug/layout/abc_list_menu_item_radio.xml
app/build/intermediates/res/merged/debug/layout/abc_popup_menu_item_layout.xml
app/build/intermediates/res/merged/debug/layout/abc_screen_simple.xml
app/build/intermediates/res/merged/debug/layout/abc_screen_simple_overlay_action_mode.xml
app/build/intermediates/res/merged/debug/layout/abc_screen_toolbar.xml
app/build/intermediates/res/merged/debug/layout/abc_search_dropdown_item_icons_2line.xml
app/build/intermediates/res/merged/debug/layout/abc_search_view.xml
app/build/intermediates/res/merged/debug/layout/abc_simple_dropdown_hint.xml
app/build/intermediates/res/merged/debug/layout/support_simple_spinner_dropdown_item.xml
app/build/intermediates/res/merged/debug/values-af/
app/build/intermediates/res/merged/debug/values-am/
app/build/intermediates/res/merged/debug/values-ar/
app/build/intermediates/res/merged/debug/values-bg/
app/build/intermediates/res/merged/debug/values-bn-rBD/
app/build/intermediates/res/merged/debug/values-ca/
app/build/intermediates/res/merged/debug/values-cs/
app/build/intermediates/res/merged/debug/values-da/
app/build/intermediates/res/merged/debug/values-de/
app/build/intermediates/res/merged/debug/values-el/
app/build/intermediates/res/merged/debug/values-en-rGB/
app/build/intermediates/res/merged/debug/values-en-rIN/
app/build/intermediates/res/merged/debug/values-es-rUS/
app/build/intermediates/res/merged/debug/values-es/
app/build/intermediates/res/merged/debug/values-et-rEE/
app/build/intermediates/res/merged/debug/values-eu-rES/
app/build/intermediates/res/merged/debug/values-fa/
app/build/intermediates/res/merged/debug/values-fi/
app/build/intermediates/res/merged/debug/values-fr-rCA/
app/build/intermediates/res/merged/debug/values-fr/
app/build/intermediates/res/merged/debug/values-gl-rES/
app/build/intermediates/res/merged/debug/values-hi/
app/build/intermediates/res/merged/debug/values-hr/
app/build/intermediates/res/merged/debug/values-hu/
app/build/intermediates/res/merged/debug/values-hy-rAM/
app/build/intermediates/res/merged/debug/values-in/
app/build/intermediates/res/merged/debug/values-is-rIS/
app/build/intermediates/res/merged/debug/values-it/
app/build/intermediates/res/merged/debug/values-iw/
app/build/intermediates/res/merged/debug/values-ja/
app/build/intermediates/res/merged/debug/values-ka-rGE/
app/build/intermediates/res/merged/debug/values-kk-rKZ/
app/build/intermediates/res/merged/debug/values-km-rKH/
app/build/intermediates/res/merged/debug/values-kn-rIN/
app/build/intermediates/res/merged/debug/values-ko/
app/build/intermediates/res/merged/debug/values-ky-rKG/
app/build/intermediates/res/merged/debug/values-land/
app/build/intermediates/res/merged/debug/values-large-v4/
app/build/intermediates/res/merged/debug/values-lo-rLA/
app/build/intermediates/res/merged/debug/values-lt/
app/build/intermediates/res/merge
d/debug/values-lv/
app/build/intermediates/res/merged/debug/values-mk-rMK/
app/build/intermediates/res/merged/debug/values-ml-rIN/
app/build/intermediates/res/merged/debug/values-mn-rMN/
app/build/intermediates/res/merged/debug/values-mr-rIN/
app/build/intermediates/res/merged/debug/values-ms-rMY/
app/build/intermediates/res/merged/debug/values-my-rMM/
app/build/intermediates/res/merged/debug/values-nb/
app/build/intermediates/res/merged/debug/values-ne-rNP/
app/build/intermediates/res/merged/debug/values-nl/
app/build/intermediates/res/merged/debug/values-pl/
app/build/intermediates/res/merged/debug/values-port/
app/build/intermediates/res/merged/debug/values-pt-rPT/
app/build/intermediates/res/merged/debug/values-pt/
app/build/intermediates/res/merged/debug/values-ro/
app/build/intermediates/res/merged/debug/values-ru/
app/build/intermediates/res/merged/debug/values-si-rLK/
app/build/intermediates/res/merged/debug/values-sk/
app/build/intermediates/res/merged/debug/values-sl/
app/build/intermediates/res/merged/debug/values-sr/
app/build/intermediates/res/merged/debug/values-sv/
app/build/intermediates/res/merged/debug/values-sw/
app/build/intermediates/res/merged/debug/values-sw600dp-v13/
app/build/intermediates/res/merged/debug/values-ta-rIN/
app/build/intermediates/res/merged/debug/values-te-rIN/
app/build/intermediates/res/merged/debug/values-th/
app/build/intermediates/res/merged/debug/values-tl/
app/build/intermediates/res/merged/debug/values-tr/
app/build/intermediates/res/merged/debug/values-uk/
app/build/intermediates/res/merged/debug/values-ur-rPK/
app/build/intermediates/res/merged/debug/values-uz-rUZ/
app/build/intermediates/res/merged/debug/values-v17/
app/build/intermediates/res/merged/debug/values-v21/
app/build/intermediates/res/merged/debug/values-vi/
app/build/intermediates/res/merged/debug/values-w360dp-v13/
app/build/intermediates/res/merged/debug/values-w480dp-v13/
app/build/intermediates/res/merged/debug/values-w500dp-v13/
app/build/intermediates/res/merged/debug/values-w600dp-v13/
app/build/intermediates/res/merged/debug/values-w720dp-v13/
app/build/intermediates/res/merged/debug/values-xlarge-land-v4/
app/build/intermediates/res/merged/debug/values-xlarge-v4/
app/build/intermediates/res/merged/debug/values-zh-rCN/
app/build/intermediates/res/merged/debug/values-zh-rHK/
app/build/intermediates/res/merged/debug/values-zh-rTW/
app/build/intermediates/res/merged/debug/values-zu/
app/build/intermediates/res/merged/debug/xml/
app/build/intermediates/restart-dex/
app/build/intermediates/rs/
app/build/intermediates/shaders/
app/build/intermediates/symbols/
app/build/intermediates/transforms/
app/build/outputs/apk/
app/build/tmp/
build/generated/mockable-android-21.jar
